.home {
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #3e497a;
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #21325e;
  color: #f0f0f0;
}

.about h2 {
  margin-top: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  color: #e9d35b;
  height: 50px;
}

.profile-container {
  position: relative; /* Allows positioning of the tooltip relative to this container */
  display: inline-block; /* Ensures the tooltip is positioned relative to the image */
}

.profile-image {
  display: flex; /* Centers the image in its container if needed */
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically */
  margin-bottom: 5px; /* Spacing around the image */
}

.profile-image img {
  width: 172px; /* Width of the image */
  height: 172px; /* Height of the image (same as width to make it a circle) */
  border-radius: 50%; /* Makes the image a circle */
  object-fit: cover; /* Ensures the image covers the circle without distortion */
  border: 2px solid #3e497a; /* Optional: add a border */
}

.tooltip {
  display: none; /* Hide the tooltip by default */
  position: absolute; /* Position relative to the container */
  bottom: -30px; /* Position above the image */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust horizontal centering */
  background-color: #21325e; /* Background color of the tooltip */
  color: #fff; /* Text color */
  padding: 5px 10px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  white-space: nowrap; /* Prevents text wrapping */
  z-index: 10; /* Ensures tooltip is above other content */
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000;
}

.profile-container:hover .tooltip {
  display: block; /* Show the tooltip on hover */
}

.name {
  font-size: 40px; /* Adjust the size as needed */
  color: #333;
  animation: colorChange 3s infinite;
}

@keyframes colorChange {
  0% {
    color: #ff7e5f;
  }
  50% {
    color: #feb47b;
  }
  100% {
    color: #ff7e5f;
  }
}

.about .prompt {
  width: 70%;
  font-size: 30px;
  margin-top: 10px; /* Adjust this value to reduce space above the container */
}

.prompt p {
  margin-top: 0; /* Minimize space above the paragraph */
}

.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.skills-down-arrow {
  font-size: 90px;
  color: white; /* Adjust the color as needed */
  cursor: pointer;
  margin-top: 20px; /* Adjust the spacing as needed */
  transition: transform 0.2s ease-in-out;
}

.skills-down-arrow:hover {
  transform: scale(1.2);
}

.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: #3e497a;
  margin-bottom: 10px;
}

.skills .list {
  list-style: none;
  width: 60%;
}

.skills .list li {
  margin-top: 5px;
}

.skills .list h2 {
  margin-top: 0; /* Remove margin above <h2> to reduce space between it and the "Skills" heading */
  margin-bottom: 20px;
}

.list span {
  font-size: 20px;
  /* padding-bottom: 20px; */
}

.footer-down-arrow-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Optional: to center vertically if needed */
  width: 100%; /* Ensure the container takes up the full width */
  margin-top: 20px; /* Adjust the spacing as needed */
}

.footer-down-arrow {
  font-size: 90px;
  color: black; /* Adjust the color as needed */
  cursor: pointer;
  margin-top: 20px; /* Adjust the spacing as needed */
  transition: transform 0.2s ease-in-out;
}

.footer-down-arrow:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 965px) {
  .name {
    font-size: 50px !important;
  }

  .profile-image img {
    width: 120px !important; /* Adjust this value to make the image smaller */
    height: 120px !important; /* Match the height with the width for a perfect circle */
  }
  /* .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  } */
}

@media only screen and (max-width: 1120px) {
  .profile-image img {
    width: 135px; /* Adjust this value to make the image smaller */
    height: 135px; /* Match the height with the width for a perfect circle */
  }
}

@media only screen and (max-width: 1280px) {
  .tooltip {
    display: none !important;
  }
}

@media only screen and (max-width: 1280px) {
  .about h2 {
    font-size: 60px; /* Adjust as needed */
  }

  .about .prompt {
    font-size: 24px; /* Adjust as needed */
    width: 80%; /* Adjust width for better fit */
    margin-top: 20px; /* Ensure space above */
  }

  .about {
    padding: 20px; /* Add padding if needed */
    flex-direction: column; /* Stack elements vertically */
  }

  .profile-container,
  .name,
  .prompt {
    margin-bottom: 20px; /* Adjust spacing between elements */
    width: 100%; /* Ensure full-width usage */
    box-sizing: border-box; /* Include padding and border in width and height */
  }
}
